body {
    background-color: #f4f4f4;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul,
li {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.conve {
    width: 290px;
    height: 155px;
    margin: 100px auto;
    overflow: hidden;
    background-color: #fff;
}

.conve .conve-list {
    width: 294px;
    height: 155px;
    margin-left: -2px;
    border-bottom: 1px solid #ddd;
}

.conve .conve-list .conve-item {
    float: left;
    width: 25%;
    height: 77px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.conve .conve-list .conve-item .conve-link {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
}