.site-header {
    width: 100%;
    height: 100px;
}

.site-header .container {
    width: 1226px;
    margin: 0 auto;
}

.site-header .container .header-logo {
    float: left;
    width: 49px;
    height: 49px;
    margin-top: 22px;
    background-color: #ff6700;
}

.site-header .container .header-nav {
    float: left;
    width: 850px;

}

.site-header .container .header-nav .nav-list {
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.site-header .container .header-nav .nav-list .nav-category {
    float: left;
    width: 127px;
    padding-right: 15px;
}

.site-header .container .header-nav .nav-list .nav-category .category-link {
    display: block;
    height: 24px;
    padding: 26px 0 38px;
    color: #333;
    text-align: right;
}

.site-header .container .header-nav .nav-list .nav-category .category-link:hover {
    color: #ff6700;
}

.site-header .container .header-nav .nav-list .nav-item {
    float: left;
}

.site-header .container .header-nav .nav-list .nav-item .nav-link {
    display: block;
    height: 24px;
    padding: 26px 10px 38px;
    color: #333;
    text-align: right;
}

.site-header .container .header-nav .nav-list .nav-item .nav-link:hover {
    color: #ff6700;
}

.site-header .container .header-search {
    position: relative;
    float: right;
    width: 296px;
    margin-top: 25px;
}

.site-header .container .header-search .search-form .search-text {
    position: absolute;
    top: 0;
    right: 50px;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;

}

.site-header .container .header-search .search-form .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 50px;
    border: 1px solid #e0e0e0;
}
