body,
p,
ul,
ol,
dl,
dt {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none; 
    margin: 0;
    padding: 0; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

