ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}

.container .tool-bar {
    position: fixed;
    width: 82px;
    bottom: 200px;
    right: 50%;
    margin-right: -674px;
}

.container .tool-bar a {
    position: relative;
    display: block;
    width: 80px;
    height: 90px;
    margin-top: -1px;
    color: #757575;
    border: 1px solid #eee;
    text-align: center;
}

.container .tool-bar a:hover {
    color: #ff6700;
}

.container .tool-bar a .icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
}

.container .tool-bar a .icon img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.container .tool-bar a .icon .hover {
    opacity: 0;
}

.container .tool-bar a:hover .static {
    opacity: 0;
}

.container .tool-bar a:hover .hover {
    opacity: 1;
}
